{{#stages}}
    {{#has_ios}}
\node [anchor=north, minimum width={{io_mux_width}}] ({{stage_id}}mux)
    at ($(node cs:name={{stage_id}}numbering,anchor=south) + (0cm,-{{vertical_distance_between_pipeline_stage_numbering_and_artifact}})$)
    [iomux] {};

\draw [pipelinestagenumberingline]
    let
        \p1 = ($(node cs:name={{stage_id}}numbering,anchor=south)$),
        \p2 = ($(node cs:name={{stage_id}}mux,anchor=north)$)
    in
        ($(\p1)$) -- ($(\p2)$);

\node [anchor=north] ({{stage_id}}invisiblecloud)
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [invisiblecloud] {};

\node [anchor=north] ({{stage_id}}invisiblecylinder)
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [invisiblecylinder] {};
    {{/has_ios}}

    {{#has_1_ios}}
        {{#io1}}
            {{#is_cylinder}}
\node [anchor=north] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [iocylinder] {};
            {{/is_cylinder}}
            {{#is_cloud}}
\node [anchor=north] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [iocloud] {};
            {{/is_cloud}}
        {{/io1}}
    {{/has_1_ios}}
    {{#has_2_ios}}
        {{#io1}}
            {{#is_cylinder}}
\node [anchor=after top] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm) + (-{{horizontal_distance_between_ios}}/2,0cm)$)
    [iocylinder] {};
            {{/is_cylinder}}
            {{#is_cloud}}
\node [anchor=north east] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm) + (-{{horizontal_distance_between_ios}}/2,0cm)$)
    [iocloud] {};
            {{/is_cloud}}
        {{/io1}}
        {{#io2}}
            {{#is_cylinder}}
\node [anchor=before top] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm) + ({{horizontal_distance_between_ios}}/2,0cm)$)
    [iocylinder] {};
            {{/is_cylinder}}
            {{#is_cloud}}
\node [anchor=north west] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm) + ({{horizontal_distance_between_ios}}/2,0cm)$)
    [iocloud] {};
            {{/is_cloud}}
        {{/io2}}
    {{/has_2_ios}}
    {{#has_3_ios}}
        {{#io2}}
            {{#is_cylinder}}
\node [anchor=north] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [iocylinder] {};
            {{/is_cylinder}}
            {{#is_cloud}}
\node [anchor=north] ({{io_id}})
    at ($(node cs:name={{stage_id}}mux,anchor=south) + (0cm,-1cm)$)
    [iocloud] {};
            {{/is_cloud}}
        {{/io2}}
\path
    let
        \p1 = ($(node cs:name={{stage_id}}mux,anchor=south)$),
        \p2 = ($(node cs:name={{io2_id}},anchor=west)$),
        \p3 = ($(node cs:name={{io2_id}},anchor=east)$),
        \p4 = ($(node cs:name={{stage_id}}invisiblecylinder,anchor=before top)$),
        \p5 = ($(node cs:name={{stage_id}}invisiblecloud,anchor=west)$),
        \p6 = ($(node cs:name={{stage_id}}invisiblecylinder,anchor=after top)$),
        \p7 = ($(node cs:name={{stage_id}}invisiblecloud,anchor=east)$)
    in
        {{#io1}}
            {{#is_cylinder}}
        node [anchor=after top] ({{io_id}})
            at ($(\x2,\y4) + (-{{horizontal_distance_between_ios}},0cm)$)
            [iocylinder] {}
            {{/is_cylinder}}
            {{#is_cloud}}
        node [anchor=east] ({{io_id}})
            at ($(\x5,\y5) + (-{{horizontal_distance_between_ios}},0cm)$)
            [iocloud] {};
            {{/is_cloud}}
        {{/io1}}
        {{#io3}}
            {{#is_cylinder}}
        node [anchor=before top] ({{io_id}})
            at ($(\x3,\y6) + ({{horizontal_distance_between_ios}},0cm)$)
            [iocylinder] {};
            {{/is_cylinder}}
            {{#is_cloud}}
        node [anchor=west] ({{io_id}})
            at ($(\x7,\y7) + ({{horizontal_distance_between_ios}},0cm)$)
            [iocloud] {};
            {{/is_cloud}}
        {{/io3}}
    {{/has_3_ios}}
{{/stages}}
