{{#stages}}
    {{#ios}}
        {{#is_input}}
\draw [iostagearrow]
    let
        \p1 = ($(node cs:name={{io_id}},anchor=north)$),
        \p2 = ($(node cs:name={{stage_id}}mux,anchor=south)$)
    in
        ($(\x1,\y1)$) -- ($(\x1,\y2)$);
        {{/is_input}}
        {{#is_output}}
\draw [iostagearrow]
    let
        \p1 = ($(node cs:name={{stage_id}}mux,anchor=south)$),
        \p2 = ($(node cs:name={{io_id}},anchor=north)$)
    in
        ($(\x2,\y1)$) -- ($(\x2,\y2)$);
        {{/is_output}}
    {{/ios}}
{{/stages}}
