{{#stages}}
    {{#ios}}
\node ({{io_id}}text)
    at ($(node cs:name={{io_id}},anchor=south) + (0cm,-{{vertical_distance_between_io_and_io_text}})$)
    [iotext] {{{io_name}}};
    {{/ios}}
{{/stages}}
