{{#stages}}
    {{#ios}}
        {{#set_image_width}}
\node [anchor=center] ({{io_id}}image)
    at ($(node cs:name={{io_id}},anchor=center)$)
    [ioimage] {\includegraphics[width={{image_width}}]{%
                        {{image}}%
                    }};
        {{/set_image_width}}
        {{#set_image_height}}
\node [anchor=center] ({{io_id}}image)
    at ($(node cs:name={{io_id}},anchor=center)$)
    [ioimage] {\includegraphics[height={{image_height}}]{%
                        {{image}}%
                    }};
        {{/set_image_height}}
    {{/ios}}
{{/stages}}
