\documentclass{standalone}
\usepackage[utf8]{inputenc}
\usepackage{graphicx}
\usepackage{tikz}
\usetikzlibrary{
	shapes.geometric,
    shapes.symbols,
	shapes.misc,
	arrows,
	arrows.meta,
	calc
}
\usepackage{helvet}
\renewcommand{\familydefault}{\sfdefault}

\tikzstyle{startend} = [
	% The shape:
	rounded rectangle,
	% The size:
	minimum width={{start_end_width}},
	minimum height={{start_end_height}},
	% The border:
	very thick,
	draw=black!50!black!50,
	% 50% red and 50% black,
	% and that mixed with 50% white
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=black!50!black!20, % and something else at the bottom
	% Font
	font=\sffamily
]

\tikzstyle{pipelinestep} = [
	% The shape:
	circle,
	% The size:
	minimum size={{job_diameter}},
	% The border:
	very thick,
	draw=green!50!black!50,
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=green!50!black!20, % and something else at the bottom
]

\tikzstyle{pipelinearrow} = [
	-{Stealth[length=2.5mm]},
    very thick
]

\tikzstyle{pipelinebentarrow} = [
	-{Stealth[length=2.5mm]},
    rounded corners={{job_bent_arrow_radius}},
    very thick
]

\tikzstyle{stagetext} = [
	% The shape:
	rectangle,
	% Font
	font=\normalfont\large,
    align=center,
	text width={{stage_text_width}},
	% Margin
	inner sep=0pt,
	anchor=south,
    % Font
    font=\sffamily
]

\tikzstyle{steptext} = [
	% The shape:
	rectangle,
	% Font
	font=\sffamily,
	align=center,
	text width={{job_text_width}},
	% Margin
	inner sep=0pt,
	anchor=north
]

\tikzstyle{stagenumbering} = [
	% The shape:
	circle,
	% The size:
	minimum size={{job_diameter}},
	% The border:
	very thick,
	draw=black!50!black!50,
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=black!50!black!20, % and something else at the bottom
	% Font
	font=\sffamily
]

\tikzstyle{pipelinestagenumberingline} = [
	-,
    dashed
]

\tikzstyle{iomux} = [
	% The shape:
	rounded rectangle,
	% The size:
	minimum height=0.2cm,
	% The border:
	very thick,
	draw=black!50!black!50,
	% 50% red and 50% black,
	% and that mixed with 50% white
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=black!50!black!20, % and something else at the bottom
]

\tikzstyle{iocloud} = [
	% The shape:
	cloud,
	% The size:
	minimum width={{io_stage_width}},
	minimum height={{io_stage_height}},
	% The border:
	very thick,
	draw=black!50!black!50,
	% 50% red and 50% black,
	% and that mixed with 50% white
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=black!50!black!20, % and something else at the bottom
]

\tikzstyle{iocylinder} = [
	% The shape:
	cylinder,
    shape border rotate=90,
	% The size:
	minimum width={{io_stage_width}},
	minimum height={{io_stage_height}},
	% The border:
	very thick,
	draw=black!50!black!50,
	% 50% red and 50% black,
	% and that mixed with 50% white
	% The filling:
	top color=white,
	% a shading that is white at the top...
	bottom color=black!50!black!20, % and something else at the bottom
]

\tikzstyle{invisiblecylinder} = [
	% The shape:
	cylinder,
    shape border rotate=90,
	% The size:
	minimum width={{io_stage_width}},
	minimum height={{io_stage_height}},
	% The border:
	draw=none,
]

\tikzstyle{invisiblecloud} = [
	% The shape:
	cloud,
	% The size:
	minimum width={{io_stage_width}},
	minimum height={{io_stage_height}},
	% The border:
	draw=none,
]

\tikzstyle{ioimage} = [
	% The shape:
	rectangle,
	% The size:
	minimum width={{io_stage_width}},
	minimum height={{io_stage_height}},
]

\tikzstyle{iostagearrow} = [
	-{Stealth[length=2.5mm]},
    thick
]

\tikzstyle{iotext} = [
	% The shape:
	rectangle,
	% Font
	font=\sffamily\small,
	align=center,
	text width={{io_text_width}},
	% Margin
	inner sep=0pt,
	anchor=north
]

\begin{document}

\begin{tikzpicture}

{{pipeline_stages}}

{{pipeline_texts}}

{{pipeline_arrows}}

{{pipeline_stages_numbering}}

{{ios_stages}}

{{ios_images}}

{{ios_arrows}}

{{ios_texts}}

\end{tikzpicture}

\end{document}
