{{#stages}}
\path
    let
        \p1 = ($(node cs:name={{lowest_overall_job_id}},anchor=south)$),
        \p2 = ($(node cs:name={{last_job_id}},anchor=south)$)
    in
        node [anchor=north] ({{stage_id}}numbering)
            at ($(\x2,\y1) + (0cm,-{{vertical_distance_between_jobs}}) + (0cm,-{{vertical_distance_between_lowest_job_and_pipeline_stage_numbering}})$)
            [stagenumbering] {{{stage_number}}};

\draw [pipelinestagenumberingline]
    let
        \p1 = ($(node cs:name={{lowest_overall_job_id}},anchor=south)$),
        \p2 = ($(node cs:name={{last_job_id}},anchor=south)$)
    in
        ($(\x2,\y2) + (0cm,-{{vertical_distance_between_jobs}})$)
        -- ($(\x2,\y1) + (0cm,-{{vertical_distance_between_jobs}}) + (0cm,-{{vertical_distance_between_lowest_job_and_pipeline_stage_numbering}})$);
{{/stages}}
