{{#stages}}
    {{#jobs}}
        {{#is_first_job}}
\draw [pipelinearrow] ({{previous_stage_id}}) -- ({{job_id}});
        {{/is_first_job}}
        {{^is_first_job}}
\draw [pipelinebentarrow]
	let
		\p{10} = ($(node cs:name={{stage_id}},anchor=west)$),
		\p1 = ($(node cs:name={{previous_stage_id}},anchor=east)$),
		\p4 = ($(node cs:name={{job_id}},anchor=west)$),
		\p2 = ($(\x4,\y1) + (-{{horizontal_distance_between_job_and_bent_arrow}},0cm)$),
		\p3 = ($(\x{10},\y4) + (-{{horizontal_distance_between_job_and_bent_arrow}},0cm)$)
	in
		coordinate (p10) at (\p{10})
		coordinate (p1) at (\p1)
		coordinate (p4) at (\p4)
		coordinate (p2) at (\p2)
		coordinate (p3) at (\p3)
   	(\p1)
		-- (\p2)
		-- (\p3)
		-- (\p4);

\draw [pipelinebentarrow]
	let
		\p{10} = ($(node cs:name={{stage_id}},anchor=east)$),
		\p1 = ($(node cs:name={{job_id}},anchor=east)$),
		\p4 = ($(node cs:name={{next_stage_id}},anchor=west)$),
		\p2 = ($(\x{10},\y1) + ({{horizontal_distance_between_job_and_bent_arrow}},0cm)$),
		\p3 = ($(\x{10},\y4) + ({{horizontal_distance_between_job_and_bent_arrow}},0cm)$)
	in
		coordinate (p10) at (\p{10})
		coordinate (p1) at (\p1)
		coordinate (p4) at (\p4)
		coordinate (p2) at (\p2)
		coordinate (p3) at (\p3)
	(\p1)
	-- (\p2)
	-- (\p3)
	-- (\p4);
        {{/is_first_job}}
    {{/jobs}}
{{/stages}}

\draw [pipelinearrow] ({{last_stage_id}}) -- (end);
