{{#stages}}
    {{#jobs}}
        {{#is_first_job}}
\node ({{stage_text_id}})
    at ($(node cs:name={{stage_id}},anchor=north) + (0,{{vertical_distance_between_stage_and_stage_text}})$)
    [stagetext] {{{stage_name}}};
        {{/is_first_job}}
\node ({{job_text_id}})
    at ($(node cs:name={{job_id}},anchor=south) + (0,-{{vertical_distance_between_job_and_job_text}})$)
    [steptext] {{{job_name}}};
    {{/jobs}}
{{/stages}}
