\node (start) at (0cm,0cm) [startend] {Start};

{{#stages}}
    {{#jobs}}
        {{#is_first_job}}
\node [anchor=west] ({{job_id}})
    at ($(node cs:name={{previous_stage_id}},anchor=east) + ({{offset_from_previous_stage}},0cm)$)
    [pipelinestep] {\includegraphics[width={{job_diameter}}]{whitecheckmark.pdf}};
        {{/is_first_job}}
        {{^is_first_job}}
\node [anchor=north] ({{job_id}})
    at ($(node cs:name={{previous_job_id}},anchor=south) + (0cm,-{{vertical_distance_between_jobs}})$)
    [pipelinestep] {\includegraphics[width={{job_diameter}}]{whitecheckmark.pdf}};
        {{/is_first_job}}
    {{/jobs}}
{{/stages}}

\node [anchor=east] (end) at
    ($(node cs:name={{last_stage_id}},anchor=east) + ({{horizontal_distance_between_last_stage_and_end}},0cm)$)
    [startend] {End};
